<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Your Album</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/album.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/58a61a6792.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

</head>

<body>
    <section id="Titlebar">
        <div class="container-fluid">
            <div class="titlebar">
                <h1 id="Title">Title</h1>
                <div class="dashboardcontentbuttons">
                    <button class="WhiteButton">Edit Name</button>
                    <button class="WhiteButton" data-bs-toggle="modal" data-bs-target="#openGallery"
                        id="addPhotosButton">Add Photos</button>
                    <button class="WhiteButton" data-bs-toggle="modal" data-bs-target="#removeDuplicates">Remove
                        Duplicates</button>
                    <button class="BlackButton" data-bs-toggle="modal" data-bs-target="#shareModal">Share</button>
                </div>
            </div>
        </div>
    </section>

    <!-- This is supposed to be the modal that opens when 'Add Photos' is clicked. It allows the user to select photos from their gallery. Right now the modal body is empty minus a container-fluid bootstrap div that has the beginnings of a grid in it. When the page loads this should be dynamically populated. -->
    <div class="modal fade" id="openGallery" tabindex="-1" aria-labelledby="openGalleryLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="openGalleryLabel">Welcome to your gallery <br>
                        <p>Select images and press save to add them to your album.</p>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div id="photogallery">
                            <div class="photo" onclick="handleGalleryPhotoSelection(this)">
                                <img src="../public/zyra.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo" onclick="handleGalleryPhotoSelection(this)">
                                <img src="../public/sona.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo" onclick="handleGalleryPhotoSelection(this)">
                                <img src="../public/brand.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo" onclick="handleGalleryPhotoSelection(this)">
                                <img src="../public/qiyana.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo" onclick="handleGalleryPhotoSelection(this)">
                                <img src="../public/zyra.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo" onclick="handleGalleryPhotoSelection(this)">
                                <img src="../public/sona.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo" onclick="handleGalleryPhotoSelection(this)">
                                <img src="../public/brand.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo" onclick="handleGalleryPhotoSelection(this)">
                                <img src="../public/qiyana.jpg">
                                <p>Photo name</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addImagesRequest()">Add images</button>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- This is supposed to be the modal that opens when 'Add Photos' is clicked. It allows the user to select photos from their gallery. Right now the modal body is empty minus a container-fluid bootstrap div that has the beginnings of a grid in it. When the page loads this should be dynamically populated. -->
    <div class="modal fade" id="openGallery" tabindex="-1" aria-labelledby="openGalleryLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="openGalleryLabel">Welcome to your gallery <br>
                        <p>Select images and press save to add them to your album.</p>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div id="photogallery">
                            <div class="selected">
                                <img src="../public/zyra.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo">
                                <img src="../public/sona.jpg">
                                <p>sona.jpg</p>
                            </div>
                            <div class="photo">
                                <img src="../public/brand.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo">
                                <img src="../public/qiyana.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo">
                                <img src="../public/zyra.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo">
                                <img src="../public/sona.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo">
                                <img src="../public/brand.jpg">
                                <p>Photo name</p>
                            </div>
                            <div class="photo">
                                <img src="../public/qiyana.jpg">
                                <p>Photo name</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add images</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- This is the share modal. It needs javascript for the invite button to show a little success message like 'Invite Sent'. 
        Copy link also needs 'Link copied.'. 
        Download album can have 'Album download starting.'-->
    <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="shareModalLabel">Share With Friends</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="input-group mb-3">
                            <p> Invite a friend to collaborate and view this album by copying the link or inputting
                                their email address. They'll be able to use their own gallery of photos to add to this
                                album. <br><br> Want some extra ways to show off your perfect album? You can share this
                                album by downloading the photos or by purchasing a formatted real-life copy.</p>
                            <input type="text" class="form-control" placeholder="Recipient's email address"
                                aria-label="Recipient's email address" aria-describedby="button-emailaddress">
                            <button class="btn btn-outline-dark" type="button" id="button-emailaddress"
                                onclick="alertFeedback(this)">Invite</button>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" disabled="disabled" class="form-control"
                                placeholder="www.photoservice.com/album/1234567"
                                aria-label="www.photoservice.com/album/1234567" aria-describedby="button-copylink">
                            <button class="btn btn-dark" type="button" id="button-copylink"
                                onclick="alertFeedback(this)">Copy Link</button>
                        </div>
                        <button class="btn btn-outline-dark btn-share" type="button" id="button-download"
                            onclick="alertFeedback(this)">Download Album (.zip)</button>
                        <button class="btn btn-outline-dark btn-share" type="button" id="button-purchase"
                            onclick="alertFeedback(this)">Purchase Album</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- This is the delete duplicates modal. -->
    <div class="modal fade" id="removeDuplicates" tabindex="-1" aria-labelledby="removeDuplicatesLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="removeDuplicatesLabel">Remove Duplicate Photos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <p> You can remove duplicates or similar looking pictures from your album using this feature!
                            The slider below tells us how similar you want a photo to look for it to be considered a
                            duplicate. <br> <br> A value of 100% means only identical photos will be removed.</p>
                        <label class="form-label" for="similiaritythreshold">Similarity Threshold</label>
                        <div class="range">
                            <input type="range" class="form-range" min="90" max="100" id="similiaritythreshold"
                                oninput="percentage.value=similiaritythreshold.value" />
                            <output id="percentage" name="percentage" for="similiaritythreshold">0</output><span>%
                                similarity</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Remove Photos</button>
                </div>
            </div>
        </div>
    </div>

    <section id="albumcreation">
        <div class="container-fluid">
            <div class="d-grid" id="albumcreationcontainers">
                <div class="container-fluid" id="container1">
                    <div class="containername">
                        <h4>Album Name</h4>
                    </div>

                    <div class="carousel-item active" id="carousel">
                        <img class="testimonial-img" id="expandedimage" src="../public/sona.jpg" alt="profile">
                        <p id="expandedimagelabel">sona.jpg</p>
                    </div>

                    <div class="buttoncontainer">
                        <div class="buttonoptions">
                            <button class="WhiteButton">Search Photo for Faces</button>
                            <button class="BlackButton">Delete Photo</button>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" id="container2">
                    <div class="containername" id="albumname">
                        <h4>Album Name</h4>
                    </div>

                    <div class="d-grid">
                        <ul id="albumphotos">
                            <li onmouseover="expandImage(this)">
                                <div class="photo">
                                    <img src="../public/brand.jpg">
                                    <p>Photo name</p>
                                </div>
                            </li>
                            <li onmouseover="expandImage(this)">
                                <div class="photo">
                                    <img src="../public/zyra.jpg">
                                    <p>Photo name</p>
                                </div>
                            </li>
                            <li onmouseover="expandImage(this)">
                                <div class="photo">
                                    <img src="../public/sona.jpg">
                                    <p>Photo name</p>
                                </div>
                            </li>

                            <li onmouseover="expandImage(this)">
                                <div class="photo">
                                    <img src="../public/qiyana.jpg">
                                    <p>Photo name</p>
                                </div>
                            </li>
                            <li onmouseover="expandImage(this)">
                                <div class="photo">
                                    <img src="../public/zyra.jpg">
                                    <p>Photo name</p>
                                </div>
                            </li>
                            <li onmouseover="expandImage(this)">
                                <div class="photo">
                                    <img src="../public/sona.jpg">
                                    <p>Photo name</p>
                                </div>
                            </li>
                            <li onmouseover="expandImage(this)">
                                <div class="photo">
                                    <img src="../public/brand.jpg">
                                    <p>Photo name</p>
                                </div>
                            </li>
                            <li onmouseover="expandImage(this)">
                                <div class="photo">
                                    <img src="../public/zyra.jpg">
                                    <p>Photo name</p>
                                </div>
                            </li>
                            <li onmouseover="expandImage(this)">
                                <div class="photo">
                                    <img src="../public/qiyana.jpg">
                                    <p>Photo name</p>
                                </div>
                            </li>
                            <li onmouseover="expandImage(this)">
                                <div class="photo">
                                    <img src="../public/sona.jpg">
                                    <p>Photo name</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- This is the sortable javascript module that allows reordering. -->
    <script src="../public/scripts/albumcreation.js"></script>
    <script type="module">
        import Sortable from 'https://cdn.jsdelivr.net/npm/@shopify/draggable/build/esm/Sortable/Sortable.mjs';

        const sortable = new Sortable(document.querySelectorAll('ul'), {
            draggable: 'li',
        });

        sortable.on('sortable:stop', () => sendReorderedArray());

    </script>




</body>

</html>