<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboardstyles.css">

    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">Logo</a>
        <div class="header-links">
          <a class="Dashboard" href="#dashboard">Dashboard</a>
        </div>
      </div>

      <div class="dashboard">
        <div class="sidebar">
            <div class="UserInfo">
                <img src="brand.jpg">
                <h2>User</h2>
            </div>
          </div>
          
          <div class="dashboardcontent">
            <div class="contentcontainer">
                <div class="titlebar">
                    <h1>Connections</h1>
                    <div class="dashboardcontentbuttons">
                        <button class="WhiteButton">Add</button>
                        <button class="BlackButton">Delete</button>
                    </div>
                </div>
                <div class="connectionscontainer">
                    <div class="connection">Connection 1</div>
                    <div class="connection">Connection 1</div>
                    <div class="connection">Connection 1</div>
                    <div class="connection">Connection 1</div>
                    <div class="connection">Connection 1</div>
                    <div class="connection">Connection 1</div>
                </div>
            </div>
            <div class="contentcontainer">
                <div class="titlebar">
                    <h1>Albums</h1>
                    <div class="dashboardcontentbuttons">
                        <button class="WhiteButton">Add</button>
                        <button class="BlackButton">Delete</button>
                    </div>
                </div>
                <div class="albumscontainer">
                    <div class="album">
                        <img src="brand.jpg">
                        <p>Album Name</p>
                    </div>
                    <div class="album">
                        <img src="brand.jpg">
                        <p>Album Name</p>
                    </div>
                    <div class="album">
                        <img src="brand.jpg">
                        <p>Album Name</p>
                    </div>
                    <div class="album">
                        <img src="brand.jpg">
                        <p>Album Name</p>
                    </div>
                    <div class="album">
                        <img src="brand.jpg">
                        <p>Album Name</p>
                    </div>
                    <div class="album">
                        <img src="brand.jpg">
                        <p>Album Name</p>
                    </div>
                    <div class="album">
                        <img src="brand.jpg">
                        <p>Album Name</p>
                    </div>
                    <div class="album">
                        <img src="brand.jpg">
                        <p>Album Name</p>
                    </div>

                </div>
            </div>
          </div>
      </div>
     
    
  
</body>
</html>