doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='/dashboardstyles.css')
  title Dashboard
.container
  header.d-flex.flex-wrap.justify-content-center.py-3.mb-4.border-bottom
    a#logo.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-body-emphasis.text-decoration-none(href='/')
      span.fs-4 PhotoService
.dashboard
  .sidebar
    .UserInfo
      img(src='defaultuser.jpeg')
      h2 User
    ul#sidebarlinks.nav.nav-pills.flex-column.mb-auto
      li.nav-item
        a.nav-link.active(href='#')
          svg.bi.me-2(width='16' height='16')
            use(xlink:href='#')
          |                         Dashboard
      li
        a.nav-link(href='#')
          svg.bi.me-2(width='16' height='16')
            use(xlink:href='#')
          |                         Gallery
      li
        a.nav-link(href='#')
          svg.bi.me-2(width='16' height='16')
            use(xlink:href='#t')
          |                         Orders
      li
        a.nav-link(href='#')
          svg.bi.me-2(width='16' height='16')
            use(xlink:href='#')
          |                         Account
      li
        a.nav-link.link-secondary(href='#')
          svg.bi.me-2(width='16' height='16')
            use(xlink:href='#')
          |                         Logout
  .dashboardcontent
    .contentcontainer
      .titlebar
        h1
          svg.bi.bi-cloud-check-fill.headericon(xmlns='http://www.w3.org/2000/svg' width='2.5rem' height='2.5rem' fill='currentColor' viewbox='0 0 16 16')
            path(d='M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 4.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z')
          | Connections
        .dashboardcontentbuttons
          button.WhiteButton Add
          button.BlackButton Delete
      .connectionscontainer
        .connection + Google Drive
        .connection + DropBox
        .connection + Microsoft OneDrive
        .connection + Flickr
        .connection + Creative Cloud
        .connection + iCloud
      .titlebar
        h1
          svg.bi.bi-images.headericon(xmlns='http://www.w3.org/2000/svg' width='2.5rem' height='2.5rem' fill='currentColor' viewbox='0 0 16 16')
            path(d='M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z')
            path(d='M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z')
          | Albums
        .dashboardcontentbuttons
          details.WhiteButton
            summary Create Album
            form(action='/create' method='POST')
              input#albumName.WhiteButton(type='text' name='albumName' placeholder='Album Name' required='')
              button.BlackButton(type='submit' value='Submit') Submit
          button.BlackButton Delete
      .albumscontainer
        each album in albums ?  albums : [] 
          .album
            a(href=album.link)
              img(src=album.cover)
            p=album.name
        if albums[0] === undefined
          p Your albums will appear here once you've created them.
script(src='/scripts/dashboard.js')
