<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">

    <title>Signup</title>
</head>
<body>
    <div class="login-form">
        <div class = "titlebar">
            Create an Account
        </div>
        <div class = "description">
            Create an account below or&nbsp;
            <a href = "login.html" class = "switch-mode-link">
                login
            </a>
        </div>
        <div class = "form-label" id="#email-lbl">
             Email 
        </div>
        <div class = "text-input-box" id="#email">
            <div class = "text-input-field">
                 mattsmith@mail.com 
            </div>
        </div>
        <div class = "form-label" id="#password-lbl">
             Password 
        </div>
        <div class = "text-input-box" id="#password">
            <div class = "text-input-field">
                 ***** 
            </div>
            <img src = "eye.svg" alt = "eye" />
        </div>
        <div class = "form-label" id="#password-lbl">
            Confirm Password 
       </div>
       <div class = "text-input-box" id="#password">
           <div class = "text-input-field">
                ***** 
           </div>
           <img src = "eye.svg" alt = "eye" />
       </div>
        <a href = "dashboard.html">
            <div class = "sign-in-button">
                <div class = "button-label">
                    Sign Up 
                </div>
            </div>
        </a>
        <a href = "index.html">
        <div class = "forgot-password-link">
            Back to landing page
       </div>
       </a>
    
    </div>
  
</body>
</html>