body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url('dashboard.png'); */
    border: 0px;
    width: 100%;
    text-align: center;
    /* Center the background image */

    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
}

.BlackButton{
    font-size: 16px;
    padding: 0.75rem 1.25rem;
    background-color: #2D3648;
    border-radius: 6px;
    color: white;
    margin-left: 10px; /* Add margin between the buttons */

}

.WhiteButton{
    font-size: 16px;
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
    border: 2px solid #2D3648;
    color: #2D3648;
    background-color: white;
}

.titlebar{
    border-bottom: 2px solid var(--wf-base-800, #2D3648);
    padding: 3rem 0rem 0.5rem 0rem;
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
    white-space: nowrap; /* Prevent buttons from wrapping to the next line */

}

h1{
    float:left;
}

.dashboardcontentbuttons{
    float:right;
}
.containername{
    text-align: center;
    width: 100%;
    padding: 0.5rem 0rem;
    border-bottom: 2px solid #EEF1F4;

}

.buttoncontainer{
    padding: 0.75rem 0;
    border-top: 2px solid #EEF1F4;
    text-align: center;
    position: sticky;
    top: 90%;
}

.buttoncontainer button{
    display: inline-block;
    position: relative;
    bottom: 0;
}

details, input {
    display: inline-block;
    position: relative;
    bottom: 0;
}

.photo img{
    display: inline-block;
    width: 9.5rem;
    height: 9.5rem;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 2px solid var(--wf-base-800, #2D3648);
    object-fit: cover;

}

.photo{
    height: 13rem;
    flex-shrink: 0;
    text-align: center;
    padding: 1rem 1rem;
    margin-bottom: 16px;
    cursor: pointer;
}

.photo p {
    margin-bottom: 0px;
}


.buttonoptions button{
    margin: 0px;
    width: 48%;
}

details, input {
    margin: 0px;
}


#Titlebar .container-fluid{
    padding: 0% 15% 0% 15%;
}

#albumcreation{
    padding: 0rem 10rem 3rem 10rem;
}


#albumcreationcontainers{
    gap: 1rem!important;
    grid-template-columns: 1fr 1fr;
}

.testimonial-img{
    object-fit: cover;
    max-width: 50%;
    flex-grow: 1;
    border-radius: 0.5rem;
    
    border: 5px solid var(--wf-base-800, #2D3648);
    margin-bottom: 10px;
}

.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}

#carousel{
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

#container1, #container2{
    border: 1px solid black;
    padding: 1rem 1rem 1rem 1rem;
    min-height: 615px;
    max-height: fit-content;
}



#albumname{
    margin-bottom: 2rem;
}

#container2{
    overflow: scroll;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}




li{
    list-style-type: none;
}

#photogallery, #displayFacesSelection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.modal-header{
    flex-direction: column-reverse;

}
.modal-header h1{
    text-decoration: underline;
    display: inline-block;
}

.modal-header p{
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.modal-body p{
    text-align: left;
}

.btn-share{
    width: 100%;
    margin-bottom: 1rem;
}

.selected {
    border: 3px solid red;
}

.header {
    width: 100%;
    overflow: hidden;
    position: sticky;
    display: block;
    top: 0px;
    font-size: 16px;
    color: black!important;
}

.logo{
    float:left;
    margin: 24px 104px;
    padding: 12px 40px;
    background-color: #2D3648;
    color: black!important;
    text-align: left;
    text-decoration: none;
    display: block;
}

.nav-link{
    color: black!important;
}

.nav-item{
    border-radius: 6px;
    border: 2px solid black;
    margin: 2px;
    }

.container{
    padding-left: 3rem;
    padding-right:3rem;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    max-width: 1900px!important;
    border-bottom: 3px solid #545F71;
    padding-top: 1rem;
}

.mb-4{
    margin-bottom: 0px!important;
}
