body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
      width: 100%;
      overflow: hidden;
      position: sticky;
      display: block;
      top: 0px;
      border-bottom: 3px solid #545F71;
      font-size: 16px;
}

.logo{
  float:left;
  margin: 24px 104px;
  padding: 12px 40px;
  background-color: #2D3648;
  color: white;
  text-align: left;
  text-decoration: none;
  display: block;
}


.BlackButton{
font-size: 16px;
padding: 0.75rem 1.25rem;
background-color: #2D3648;
border-radius: 6px;
color: white;
margin-left: 10px; /* Add margin between the buttons */

}

.WhiteButton{
font-size: 16px;
padding: 0.75rem 1.25rem;
border-radius: 6px;
border: 2px solid #2D3648;
color: #2D3648;
background-color: white;
}


.LandingPhoto{
  margin: auto;
  border-bottom: 3px solid #545F71;
  text-align: center;
  background-image: url('homepagephoto.jpg');

  height: 600px;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
}

h1{
margin: 20px auto 0 auto;
font-size: 5.625rem; /*100% is 16px. 90px/16=562.5% and 5.625 em */
/*use em for dynamic. 1 em = 100% = 16px*/
position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.top-container h2 {
position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}


.top-container{
position: relative;
text-align: center;
  background-color: #ff4c68;
  height: 600px;
  border-bottom: 3px solid #545F71;
  color: white;
}

.buttoncontainer{
position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.buttoncontainer button{
margin: 5% 1.5% 5% 1.5%;
}

#carousel{
text-align: center;
}

.testimonial-img{
width: 70%;
margin: 30px 20px;
}

/* Carousel */
.carousel-item{
padding: 7% 15%;
}

/* .carousel-control-next,
.carousel-control-prev{
  filter: invert(100%);
} */

#carousel {
color: white;
background-color: #ef8172;
padding: 3% 15%;
text-align: center;
}

#carousel h2{
font-size: 1.5rem;
overflow: wrap;
width: 70%;
display: inline-block;
}

#features{
background-color: white;
padding: 7% 15%;
text-align: center;
position: relative;
z-index:1;
}

.row{
padding: 4.5% ;
}

#AboutUs{
padding: 3% 15%;
text-align: center;
}

.container{
background-color: #ff4c68;
margin: 0px;
max-width: 100%;
padding: 0% 15%;
}

.mb-4 {
margin-bottom: 0rem!important;
}

.nav-item{
color: white;
border-radius: 6px;
border: 2px solid white;
margin: 2px;
}

.container a{
color: white!important;
}

.whatweoffer-column i {
padding-bottom: 15px;
color:#ef8172
}